{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w-full p-6">
  <h1 class="text-2xl font-bold mb-6">{{ console.name }}</h1>

  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="overflow-x-auto">
      <table class="table-auto w-full border-collapse border border-gray-600 text-sm text-white">
        <thead>
          <tr class="bg-gray-700">
            <th class="border border-gray-600 px-2 py-1 text-center">Dante #</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Channel</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Source</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Group</th>
            <th class="border border-gray-600 px-2 py-1 text-center">DCA</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Mute</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Direct Out</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Omni In</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Omni Out</th>
            <th class="border border-gray-600 px-2 py-1 text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
           <tr class="bg-gray-900">
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.dante }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.input_ch }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.source }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.group }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.dca }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.mute }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.direct_out }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.omni_in }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.omni_out }}</td>
            <td class="border border-gray-600 px-2 py-1 text-center align-middle">{{ form.DELETE }}</td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
        Save Changes
      </button>
    </div>
  </form>
</div>
{% endblock %}
