{% load custom_tags chunk_filters %}
{% load i18n admin_urls static admin_modify chunk_filters %}
<div class="js-inline-admin-formset inline‐group">
  <div class="tabular inline‐related">
    {{ inline_admin_formset.formset.management_form }}

    <fieldset class="module {{ inline_admin_formset.classes }}">
      <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>

      <table class="dynamic‐deviceinput_set" width="100%" cellspacing="0">
        <tbody>
          {% for form_chunk in inline_admin_formset.forms|chunk:8 %}
            <tr class="form‐row">
              {% for form in form_chunk %}
                <td class="cell">
                  {# hidden PK/FK fields etc. #}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}

                  {# channel number #}
                  <div class="number">{{ form.initial.input_number }}</div>

                  {# this is already correct #}
                  <div class="select w-24">{{ form.console_input }}</div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
</div>