{% load i18n admin_urls static admin_modify %}
{% load custom_tags chunk_filters %}

<style>
  .p1-output-cell {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    width: 12.5%;
  }
  .p1-output-cell .type-label {
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 5px;
  }
  .p1-output-cell .label-field input {
    width: 100%;
    font-size: 11px;
    padding: 2px;
    margin-bottom: 5px;
  }
  .p1-output-cell select {
    width: 100%;
    font-size: 11px;
  }
  .output-type-header {
    background-color: #79aec8;
    color: white;
    padding: 5px;
    font-weight: bold;
    text-align: center;
  }
</style>

<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <div class="tabular inline-related {{ inline_admin_formset.opts.classes }}">
    {{ inline_admin_formset.formset.management_form }}
    
    <fieldset class="module {{ inline_admin_formset.classes }}">
      <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
      
      <table width="100%" cellspacing="0">
        <tbody>
          {# Row 1: AES/EBU 1-4 and Analog 1-4 #}
          <tr>
            <td colspan="8" class="output-type-header">AES/EBU (1-4) and Analog (1-4)</td>
          </tr>
          <tr class="form-row">
            {% for inline_admin_form in inline_admin_formset %}
              {% if 'AES' in inline_admin_form.form.instance.get_output_type_display or 'Analog' in inline_admin_form.form.instance.get_output_type_display %}
                <td class="p1-output-cell">
                  {# Hidden fields #}
                  {% if inline_admin_form.fk_field %}
                    {{ inline_admin_form.fk_field.field }}
                  {% endif %}
                  {% for hidden in inline_admin_form.form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                  
                  <div class="type-label">
                    {{ inline_admin_form.form.instance.get_output_type_display }} {{ inline_admin_form.form.instance.channel_number }}
                  </div>
                  
                  <div class="label-field">
                    {{ inline_admin_form.form.label }}
                  </div>
                  
                  <div class="select">
                    {{ inline_admin_form.form.assigned_bus }}
                  </div>
                </td>
              {% endif %}
            {% endfor %}
          </tr>

          {# Row 2: AVB 1-8 #}
          <tr>
            <td colspan="8" class="output-type-header">AVB (1-8)</td>
          </tr>
          <tr class="form-row">
            {% for inline_admin_form in inline_admin_formset %}
              {% if 'AVB' in inline_admin_form.form.instance.get_output_type_display %}
                <td class="p1-output-cell">
                  {# Hidden fields #}
                  {% if inline_admin_form.fk_field %}
                    {{ inline_admin_form.fk_field.field }}
                  {% endif %}
                  {% for hidden in inline_admin_form.form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                  
                  <div class="type-label">
                    {{ inline_admin_form.form.instance.get_output_type_display }} {{ inline_admin_form.form.instance.channel_number }}
                  </div>
                  
                  <div class="label-field">
                    {{ inline_admin_form.form.label }}
                  </div>
                  
                  <div class="select">
                    {{ inline_admin_form.form.assigned_bus }}
                  </div>
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>