/* Stereo Output dante_number field - holds 3 digits */
#consolestereooutput_set-group .field-dante_number input[type="number"],
.inline-group#consolestereooutput_set-group .field-dante_number input {
    width: 70px !important;
    max-width: 70px !important;
    min-width: 70px !important;
    text-align: center !important;
}

/* Stereo Output omni_out field - holds single digit */
#consolestereooutput_set-group .field-omni_out input[type="text"],
#consolestereooutput_set-group .field-omni_out input,
.inline-group#consolestereooutput_set-group .field-omni_out input {
    width: 50px !important;
    max-width: 50px !important;
    min-width: 50px !important;
    text-align: center !important;
}


/* Console Input dante_number field - holds 3 digits */
#consoleinput_set-group .field-dante_number input[type="number"],
.inline-group#consoleinput_set-group .field-dante_number input {
    width: 70px !important;
    max-width: 70px !important;
    min-width: 70px !important;
    text-align: center !important;
}


/* Completely hide all Add buttons in sidebar */
#nav-sidebar .addlink {
    display: none !important;
}

/* Console Input source_hardware dropdown - narrower width */
#consoleinput_set-group .field-source_hardware select,
.inline-group#consoleinput_set-group .field-source_hardware select {
    width: 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
}