/* Remove horizontal padding inside the Mono/Stereo dropdown and Variable dropdown */
td select[name$="mono_stereo"],
td select[name$="variable"] {
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Optionally reduce width slightly */
td select[name$="mono_stereo"],
td select[name$="variable"] {
  max-width: 100px;
  width: auto;
}