<style>
  .inline-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
    padding-bottom: 1em;
  }

  .inline-grid-label {
    text-align: center;
    font-weight: bold;
    padding-bottom: 4px;
  }
</style>

{% if inline_admin_formset.has_auto_field %}
  {{ inline_admin_formset.formset.management_form }}
{% endif %}

<div class="inline-grid-container">
  {% for form in inline_admin_formset %}
    {% for fieldset in form %}
      {% for line in fieldset %}
        {% for field in line %}
          <div>
            <div class="inline-grid-label">{{ field.label_tag|safe }}</div>
            {{ field.field }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    {% if forloop.counter|divisibleby:8 %}
      </div><div class="inline-grid-container">
    {% endif %}
  {% endfor %}
</div>

{{ inline_admin_formset.formset.non_form_errors }}